@use 'sass:list';
@use '../abstracts' as a;

:root {

  // Farben 
  @each $name, $value in a.$colors {
    --#{$name}: #{$value};
  }

  // Fluid Typografie
  --root-font-size: #{a.$root-font-size};
  @each $name, $values in a.$font-size-map {
    --text-#{$name}: #{a.fluid(list.nth($values, 1), list.nth($values, 2))};
  }

  // Spacing
  @each $name, $value in a.$space-map {
    --space-#{$name}: #{$value};
  }

  // Layout
  --container-max-width: #{a.$container-max-width};
  --grid-gap: var(--space-m);
  --grid-cols: #{a.$grid-columns};
  --grid-min: 300px;
  --gap-x: #{a.$gap-x};
  --gap-y: #{a.$gap-y};

  @for $i from 1 through a.$grid-columns {
    --grid-#{$i}: repeat(#{$i}, minmax(0, 1fr));
    --span-#{$i}: span #{$i};
  }

  --grid-auto: repeat(auto-fit, minmax(min(100%, var(--grid-min)), 1fr));
  --span-full: 1 / -1;

  --body-bg: var(--bg);
  --body-text: var(--text);

  // Radius
  @each $name, $value in a.$radius-map {
    --radius-#{$name}: #{$value};
  }

  // Width
  @each $name, $value in a.$width-map {
  --width-#{$name}: calc(var(--container-max-width) * #{$value});
}


}