@use 'sass:map'; 

$breakpoints: (
  'tablet': 768px,
  'desktop': 1024px,
  'wide': 1280px
);

@mixin mq($size) {
  @if map.has-key($breakpoints, $size) {
    
    @media (min-width: map.get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @error "Breakpoint #{$size} nicht gefunden.";
  }
}